
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Skwash</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}ext/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/sidebar.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/rankingboard.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{ STATIC_URL }}ext/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}ext/bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}ext/bootstrap/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}ext/bootstrap/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}ext/bootstrap/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="{{ STATIC_URL }}ext/bootstrap/ico/favicon.png">
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          {% load tags %}
          <a class="brand" href="/">Skwash</a>
          <div class="nav-collapse collapse">

            <ul class="nav">
              <li class="{% active request '^/$' %} {% active request '^/ranking.*' %}"><a href="/">Rankings</a></li>
              <li class="{% active request '^/challenges.*' %}"><a href="/challenges">Challenges</a></li>
              <li class="{% active request '^/profile/$' %}"><a href="/profile">{{ user }}</a></li>
            </ul>
            <p class="navbar-text pull-right">
              <a href="/accounts/logout" class="navbar-link">Logout</a>
              </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      <!-- <h1>Bootstrap starter template</h1>
      <p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p> -->

      {% block container %}{% endblock %}

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}ext/bootstrap/js/bootstrap.min.js"></script>


  </body>
</html>
