<a class="btn-challenge btn-challenge-accept" 
                                       id="btn-challenge-accept__{{ board_id }}_{{ opponent_id }}" 
                                       href="/challenges/{{ board_id }}/{{ opponent_id }}/accept">Accept challenge</a> 
                                    / 
                                <a class="btn-challenge btn-challenge-decline" 
                                   id="btn-challenge-decline__{{ board_id }}_{{ opponent_id }}" 
                                   href="/challenges/{{ board_id }}/{{ opponent_id }}/decline">Decline challenge</a>