{% extends "base.html" %}

{% block container %}

{% load keyvalue %}

<div class="row">
<!-- <div class="inner-container"> -->
    <div class="span3 skwash-sidebar">
    <!-- <div class="skwash-sidebar"> -->
        <div class="row sidenav-container" data-spy="affix" data-offset-top="0">
        <!-- <div class="sidenav-container" data-spy="affix" data-offset-top="0"> -->
        <ul class="nav nav-list skwash-sidenav spy-list">
            <li class="nav-header">Ranking Boards</li>
            {% for board in object_list %}
                <li>
                <a href='#section{{ board.id }}'><i class="icon-chevron-right"></i>{{ board.title }}</a>
                </li>
            {% endfor %}
        </ul>
        <ul class="nav nav-list skwash-sidenav spy-list">
            <li class="nav-header">Create</li>
            <li><a href="/rankingboards/new/">New Ranking Board</a></li>
        </ul>
        </div>
    </div>
    <div class="span9">
    <!-- <div class="board-list-container"> -->
        {% for board in ranking_boards %}
            <div class="hero-unit" id="section{{ board.id }}">
            <!-- <section id="section_{{ board.id }}"> -->
                <div class='rankingboard-container'>
                    <!-- <h3><a href='/rankingboards/{{ board.id }}'>{{ board.title }}</a></h3> -->
                    <h2>{{ board.title }}</h2>
                    <br/>
                    {% if user.id == board.owner.id %} <a href='/rankingboards/{{ board.id }}'>edit</a> {% endif %}
                    <a href='/rankingboards/delete/{{ board.id }}'>delete</a>
                    <p>Owner: {{ board.owner }}</p>
                    <p>Ranking:
                    <ol>
                    {% for player in board.ranked_players %}
                        <li>{{ player.0 }} ({{ player.1 }}) 
                            {% if user.id != player.0.id %}

                                {% if player.0.id in challenges_received|keyvalue:board.id %}
                                    <a class="btn-challenge btn-challenge-accept" 
                                       id="btn-challenge-accept__{{ board.id }}_{{ player.0.id }}" 
                                       href="/challenges/{{ board.id }}/{{ player.0.id }}/accept">Accept challenge</a> 
                                    / 
                                    <a class="btn-challenge btn-challenge-decline" 
                                       id="btn-challenge-decline__{{ board.id }}_{{ player.0.id }}" 
                                       href="/challenges/{{ board.id }}/{{ player.0.id }}/decline">Decline challenge</a>
                                {% else %}
                                    {% if player.0.id in challenges_sent|keyvalue:board.id %}
                                        <a class="btn-challenge btn-challenge-cancel" 
                                           id="btn-challenge-cancel__{{ board.id }}_{{ player.0.id }}" 
                                           href="/challenges/{{ board.id }}/{{ player.0.id }}/cancel">Cancel challenge</a>
                                    {% else %}
                                        {% if player.0.id in challenges_accepted|keyvalue:board.id %}
                                            <a class="btn-challenge btn-challenge-play" 
                                               id="btn-challenge-play__{{ board.id }}_{{ player.0.id }}" 
                                               href="/matches/{{ board.id }}/{{ player.0.id }}/play">Play match</a>
                                        {% else %}
                                            <a class="btn-challenge btn-challenge-challenge" 
                                               id="btn-challenge-challenge__{{ board.id }}_{{ player.0.id }}"
                                               href="/challenges/{{ board.id }}/{{ player.0.id }}/new">Challenge</a>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            
                            {% endif %}
                        </li>
                    {% endfor %}
                    </ol>
                    </p>
                </div><!--/rankingboard-container-->
            <!-- </section> -->
            <!--/section-->
            </div>
        {% endfor %}
    </div>
</div>
          
{% endblock %}