{% extends "skwash_base.html" %}

{% block container %}

{% load keyvalue %}

<div class="row">
<!-- <div class="inner-container"> -->
    <div class="span3 skwash-sidebar">
    <!-- <div class="skwash-sidebar"> -->
        <div class="row sidenav-container" data-spy="affix" data-offset-top="0">
        <!-- <div class="sidenav-container" data-spy="affix" data-offset-top="0"> -->
        <ul class="nav nav-list skwash-sidenav spy-list">
            <li class="nav-header">Ranking Boards</li>
            {% for board in object_list %}
                <li>
                <a href='#section{{ board.id }}'><i class="icon-chevron-right"></i>{{ board.title }}</a>
                </li>
            {% endfor %}
        </ul>
        <ul class="nav nav-list skwash-sidenav spy-list">
            <li class="nav-header">Create</li>
            <li><a href="/rankingboards/new/">New Ranking Board</a></li>
        </ul>
        </div>
    </div>
    <div class="span9">
    <!-- <div class="board-list-container"> -->
        {% for board in ranking_boards %}
            <div class="hero-unit" id="section{{ board.id }}">
            <!-- <section id="section_{{ board.id }}"> -->
                <div class='rankingboard-container'>
                    <!-- <h3><a href='/rankingboards/{{ board.id }}'>{{ board.title }}</a></h3> -->
                    <h2>{{ board.title }}</h2>
                    <br/>
                    {% if user.id == board.owner.id %} <a href='/rankingboards/{{ board.id }}'>edit</a> 
                    <a href='/rankingboards/delete/{{ board.id }}'>delete</a>
                    {% endif %}
                    <p>Owner: {{ board.owner }}</p>
                    <p>Ranking:
                    
                    <section class='board-container rankingboards/html/{{ board.id }}'>

                    

                    </section>

                    </p>
                </div><!--/rankingboard-container-->
            <!-- </section> -->
            <!--/section-->
            </div>
        {% endfor %}
    </div>
</div>
          
{% endblock %}